<%= form_for(restaurant, :html => { multipart: true }) do |f| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, class: 'label-control'%>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :address ,class: 'label-control'%>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :phone,class: 'label-control' %>
    <%= f.text_field :phone , class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= f.label :wesite,class: 'label-control' %>
    <%= f.text_field :wesite , class: 'form-control'%>
  </div>
  <div class="field form-group">
    <%= f.label :image,class: 'label-control' %>
    <%= f.file_field :image , class: 'form-control'%>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
